In [11]:
# Label or Ordinal Encoding

In [12]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.DataFrame({
    'car_brands' : ['McLaren', 'Mercedes', 'Volvo', 'Tata', 'Mercedes', 'McLaren', 'Tata', 'Volvo']
})

In [14]:
df

  car_brands
0    McLaren
1   Mercedes
2      Volvo
3       Tata
4   Mercedes
5    McLaren
6       Tata
7      Volvo

In [15]:
df.columns

Index(['car_brands'], dtype='object')

In [16]:
encoder = LabelEncoder()

In [22]:
encoded = encoder.fit_transform(df['car_brands'])

In [23]:
from sklearn.preprocessing import OrdinalEncoder

In [24]:
encoder = OrdinalEncoder(categories=[['McLaren', 'Mercedes', 'Volvo', 'Tata']])

In [25]:
encoded = encoder.fit_transform(df[['car_brands']])

In [26]:
encoded

array([[0.],
       [1.],
       [2.],
       [3.],
       [1.],
       [0.],
       [3.],
       [2.]])