In [3]:
marks = int(input("Enter the percentage"))

if marks > 90:
    print('Grade A') 
elif marks > 80 and marks <= 90:
    print('Grade B')
elif marks >= 60 and marks <= 80:
    print('Grade C')
else:
    print('Grade D')

Enter the percentage 78

Grade C

In [4]:
price = int(input("Enter the price of bike"))

if price > 100000:
    print("15%")
elif price > 50000 and price <= 100000:
    print("10%")
else:
    print("5%")

Enter the price of bike 8000000

15%

In [5]:
city = input("Enter the name of city")

if city == "Delhi" or city == "delhi":
    print("Red Fort")
elif city == "Agra" or city == "agra":
    print("Taj Mahal")
elif city == "Jaipur" or city == "jaipur":
    print("Hawa Mahal")

Enter the name of city agra

Taj Mahal

In [ ]:
# Q8. Reverse numbers from 10 to 1 using while loop
i = 10
while i >= 1:
    print(i)
    i=i-1

In [ ]:
# Q7 and Q8 are same