In [18]:
pip install pandas

Requirement already satisfied: pandas in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/ashu/.pyenv/versions/3.10.2/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

In [4]:
df = pd.read_csv("70_services.csv")

In [5]:
df.head()

            name   age  gender
0    Adam Dawson    23  Female
1  Marvin Ramsey    24    Male
2   Sarah Dennis    52    Male
3  James Barrett    51    Male
4   Marie Keller    47  Female

In [6]:
df.head(6)

               name   age  gender
0       Adam Dawson    23  Female
1     Marvin Ramsey    24    Male
2      Sarah Dennis    52    Male
3     James Barrett    51    Male
4      Marie Keller    47  Female
5  Bernard Crawford    22  Female

In [12]:
df.tail(-1)

                name   age  gender
1      Marvin Ramsey    24    Male
2       Sarah Dennis    52    Male
3      James Barrett    51    Male
4       Marie Keller    47  Female
5   Bernard Crawford    22  Female
..               ...   ...     ...
95        Jon Wright    35  Female
96         Elva Vega    25    Male
97      Blanche Wong    51    Male
98     Luella Burton    50  Female
99     Dustin Medina    52    Male

[99 rows x 3 columns]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['name', ' age', ' gender'], dtype='object')

In [10]:
list(df.columns)

['name', ' age', ' gender']

In [11]:
df['name']

0       Adam Dawson
1     Marvin Ramsey
2      Sarah Dennis
3     James Barrett
4      Marie Keller
          ...
95       Jon Wright
96        Elva Vega
97     Blanche Wong
98    Luella Burton
99    Dustin Medina
Name: name, Length: 100, dtype: object

In [13]:
df.dtypes

name       object
 age        int64
 gender    object
dtype: object

In [20]:
pd.read_excel("71_services.xlsx")

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [21]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 96 kB 2.6 MB/s eta 0:00:011
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/ashu/.pyenv/versions/3.10.2/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [24]:
df1 = pd.read_excel("71_services.xlsx")

In [25]:
df1.to_csv('72_mmm.csv')