Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/ashu/.pyenv/versions/3.10.2/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (21.2.4)
Collecting pip
  Using cached pip-23.0.1-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-23.0.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext autoreload
%autoreload 2

In [6]:
import pandas as p

In [16]:
data = [4,8,15,16,23,42]

In [17]:
a = p.Series(data)

In [18]:
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

***

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [19]:
data = ['Ashu','golu','pehelwaan','black','tall','introvert','cringe','good','buttering','loser']

In [20]:
b = p.Series(data)

In [21]:
print(b)

0         Ashu
1         golu
2    pehelwaan
3        black
4         tall
5    introvert
6       cringe
7         good
8    buttering
9        loser
dtype: object

***

Q3. !(https://anonymfile.com/AkqJb/q3.png)

In [31]:
data = {
    "name" : ['Alice','Bob','Claire'],
    "age": [25,30,27],
    "gender": ['Female','Male','Female']
}

In [32]:
df = p.DataFrame(data)

In [33]:
print(df)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

***

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

There are various differences - 
1. Dataframe is 2D whereas Series is 1D
2. In series i've only 1 indexing whereas in dataframe i've to index row and column differently
3. Dataframes have column name whereas rows didn't
4. Dataframes can store different data types whereas series can store only 1 type of data type

Example of dataframe and series :

In [35]:
dataFrameExample = {
    "name" : ['Alice','Bob','Claire'],
    "age": [25,30,27],
    "gender" : ['Male','Female','Male']
}

example1 = p.DataFrame(dataFrameExample)

print(example1)

     name  age  gender
0   Alice   25    Male
1     Bob   30  Female
2  Claire   27    Male

In [38]:
SeriesExample = [1,2,3,4]

example2 = p.Series(SeriesExample)

print(example2)

0    1
1    2
2    3
3    4
dtype: int64

***

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [40]:
hola = p.read_csv("74_data.csv")

In [46]:
hola.head()

Empty DataFrame
Columns: [4, 8, 15, 16, 23, 42]
Index: []

In [47]:
hola.tail()

Empty DataFrame
Columns: [4, 8, 15, 16, 23, 42]
Index: []

In [48]:
print(hola.info())

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   4       0 non-null      object
 1   8       0 non-null      object
 2   15      0 non-null      object
 3   16      0 non-null      object
 4   23      0 non-null      object
 5   42      0 non-null      object
dtypes: object(6)
memory usage: 0.0+ bytes
None

In [49]:
print(hola.describe())

          4    8   15   16   23   42
count     0    0    0    0    0    0
unique    0    0    0    0    0    0
top     NaN  NaN  NaN  NaN  NaN  NaN
freq    NaN  NaN  NaN  NaN  NaN  NaN

and groupby and drop are also the methods available in pandas. I have not used them in this assignment. I will use them in the future assignments. I have used the methods which are used in the assignment.

***

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and Dataframe both are mutable but Panel is not.

In [50]:
import pandas as pd

# create a Series
s = pd.Series([1, 2, 3, 4, 5])

# change the value of the third element
s[2] = 10

# create a DataFrame
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'],
                   'age': [25, 30, 35],
                   'gender': ['F', 'M', 'M']})

# change the age of Bob
df.loc[df['name'] == 'Bob', 'age'] = 32