In [19]:
print("Day 1 of 60 day challenge")

Day 1 of 60 day challenge

In [1]:
import pandas as pd

In [21]:
syntax --> pd.read_csv("file_name")

SyntaxError: invalid syntax (1125412828.py, line 1)

In [ ]:
sol = pd.read_csv("75_csv_file_for_pandas.csv")

file readed successfully

In [ ]:
sol.head()

,id,firstname,lastname,email,email2,profession
0,100,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com,developer
1,101,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com,worker
2,102,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com,developer
3,103,Evaleen,Marden,Evaleen.Marden@yopmail.com,Evaleen.Marden@gmail.com,worker
4,104,Meg,Ferino,Meg.Ferino@yopmail.com,Meg.Ferino@gmail.com,worker

In [ ]:
sol.tail()

,id,firstname,lastname,email,email2,profession
995,1095,Benita,Kussell,Benita.Kussell@yopmail.com,Benita.Kussell@gmail.com,worker
996,1096,Carilyn,Serilda,Carilyn.Serilda@yopmail.com,Carilyn.Serilda@gmail.com,developer
997,1097,Fanchon,Hashim,Fanchon.Hashim@yopmail.com,Fanchon.Hashim@gmail.com,firefighter
998,1098,Hyacinthe,Naashom,Hyacinthe.Naashom@yopmail.com,Hyacinthe.Naashom@gmail.com,developer
999,1099,Trixi,Westphal,Trixi.Westphal@yopmail.com,Trixi.Westphal@gmail.com,worker

In [ ]:
sol.head(3)

,id,firstname,lastname,email,email2,profession
0,100,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com,developer
1,101,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com,worker
2,102,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com,developer

In [ ]:
sol.tail(3)

,id,firstname,lastname,email,email2,profession
997,1097,Fanchon,Hashim,Fanchon.Hashim@yopmail.com,Fanchon.Hashim@gmail.com,firefighter
998,1098,Hyacinthe,Naashom,Hyacinthe.Naashom@yopmail.com,Hyacinthe.Naashom@gmail.com,developer
999,1099,Trixi,Westphal,Trixi.Westphal@yopmail.com,Trixi.Westphal@gmail.com,worker

In [ ]:
type(sol)

pandas.core.frame.DataFrame

this tabular form is called dataframe

In [ ]:
sol.columns

Index(['id', 'firstname', 'lastname', 'email', 'email2', 'profession'], dtype='object')

In [23]:
list(sol.columns)

['id', 'firstname', 'lastname', 'email', 'email2', 'profession']

In [24]:
sol['profession']

0        developer
1           worker
2        developer
3           worker
4           worker
          ...
995         worker
996      developer
997    firefighter
998      developer
999         worker
Name: profession, Length: 1000, dtype: object

In [25]:
sol.columns

Index(['id', 'firstname', 'lastname', 'email', 'email2', 'profession'], dtype='object')

In [26]:
sol['lastname']

0      Cherianne
1        Whiffen
2        Vorster
3         Marden
4         Ferino
         ...
995      Kussell
996      Serilda
997       Hashim
998      Naashom
999     Westphal
Name: lastname, Length: 1000, dtype: object

In [27]:
type(sol['lastname'])

pandas.core.series.Series

so thier is a difference between series and list, so series have index too but list don't have indexes

In [28]:
sol['email']

0         Rani.Cherianne@yopmail.com
1            Flo.Whiffen@yopmail.com
2          Berta.Vorster@yopmail.com
3         Evaleen.Marden@yopmail.com
4             Meg.Ferino@yopmail.com
                   ...
995       Benita.Kussell@yopmail.com
996      Carilyn.Serilda@yopmail.com
997       Fanchon.Hashim@yopmail.com
998    Hyacinthe.Naashom@yopmail.com
999       Trixi.Westphal@yopmail.com
Name: email, Length: 1000, dtype: object

In [29]:
sol[['email']]

                             email
0       Rani.Cherianne@yopmail.com
1          Flo.Whiffen@yopmail.com
2        Berta.Vorster@yopmail.com
3       Evaleen.Marden@yopmail.com
4           Meg.Ferino@yopmail.com
..                             ...
995     Benita.Kussell@yopmail.com
996    Carilyn.Serilda@yopmail.com
997     Fanchon.Hashim@yopmail.com
998  Hyacinthe.Naashom@yopmail.com
999     Trixi.Westphal@yopmail.com

[1000 rows x 1 columns]

In [30]:
type(sol['email'])

pandas.core.series.Series

In [31]:
type(sol[['email']])

pandas.core.frame.DataFrame

In [32]:
sol[['email','lastname']]

                             email   lastname
0       Rani.Cherianne@yopmail.com  Cherianne
1          Flo.Whiffen@yopmail.com    Whiffen
2        Berta.Vorster@yopmail.com    Vorster
3       Evaleen.Marden@yopmail.com     Marden
4           Meg.Ferino@yopmail.com     Ferino
..                             ...        ...
995     Benita.Kussell@yopmail.com    Kussell
996    Carilyn.Serilda@yopmail.com    Serilda
997     Fanchon.Hashim@yopmail.com     Hashim
998  Hyacinthe.Naashom@yopmail.com    Naashom
999     Trixi.Westphal@yopmail.com   Westphal

[1000 rows x 2 columns]

In [34]:
sol[['email','firstname','lastname']]

                             email  firstname   lastname
0       Rani.Cherianne@yopmail.com       Rani  Cherianne
1          Flo.Whiffen@yopmail.com        Flo    Whiffen
2        Berta.Vorster@yopmail.com      Berta    Vorster
3       Evaleen.Marden@yopmail.com    Evaleen     Marden
4           Meg.Ferino@yopmail.com        Meg     Ferino
..                             ...        ...        ...
995     Benita.Kussell@yopmail.com     Benita    Kussell
996    Carilyn.Serilda@yopmail.com    Carilyn    Serilda
997     Fanchon.Hashim@yopmail.com    Fanchon     Hashim
998  Hyacinthe.Naashom@yopmail.com  Hyacinthe    Naashom
999     Trixi.Westphal@yopmail.com      Trixi   Westphal

[1000 rows x 3 columns]

In [35]:
sol.dtypes

id             int64
firstname     object
lastname      object
email         object
email2        object
profession    object
dtype: object

In [5]:
import pandas as pd

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.7 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install --upgrade pip

Requirement already satisfied: pip in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 6.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
pd.read_excel("76_practice_pandas.xls")

  First Name Last Name
0  Frederick  Phillips
1     Andrew      Hall
2     Alissa     Dixon
3     Amanda    Watson
4     Edward    Watson

In [12]:
axle = pd.read_excel("76_practice_pandas.xls")

In [13]:
type(axle)

pandas.core.frame.DataFrame

In [16]:
axle.dtypes

First Name    object
Last Name     object
dtype: object

In [17]:
axle.columns

Index(['First Name', 'Last Name'], dtype='object')

In [19]:
axle['First Name']

0    Frederick
1       Andrew
2       Alissa
3       Amanda
4       Edward
Name: First Name, dtype: object

In [20]:
axle[['First Name']]

  First Name
0  Frederick
1     Andrew
2     Alissa
3     Amanda
4     Edward

In [5]:
pd.read_html("https://www.flipkart.com/order_details?order_id=OD428023626051994100&item_id=428023626051994100&unit_id=428023626051994100000")

ImportError: lxml not found, please install it

In [4]:
pip install it

Collecting it
  Downloading it-1.0.0.tar.gz (14 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: it
  Building wheel for it (pyproject.toml) ... done
  Created wheel for it: filename=it-1.0.0-py2.py3-none-any.whl size=17253 sha256=4299babed4fd747a1dbb326a81e1cf585cbc1f37017ee54f10b4273479048b8b
  Stored in directory: /Users/ashu/Library/Caches/pip/wheels/a8/2b/58/09b181d3151ca45d7dedd4fd7273e68c951a1d030b31d64abf
Successfully built it
Installing collected packages: it
Successfully installed it-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
pd.read_html("https://www.flipkart.com/order_details?order_id=OD428023626051994100&item_id=428023626051994100&unit_id=428023626051994100000")

ImportError: lxml not found, please install it

In [7]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2.tar.gz (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 225.3 kB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: lxml
  Building wheel for lxml (pyproject.toml) ... done
  Created wheel for lxml: filename=lxml-4.9.2-cp310-cp310-macosx_12_0_arm64.whl size=1663626 sha256=b7fd68b152db92dfdc0de06dd70f5f807f64c808c39ccedb607b351fbec2fd72
  Stored in directory: /Users/ashu/Library/Caches/pip/wheels/5a/51/0e/95b4a6ddee4a616530c36aeb03dafb5e04183756d9973a7d5d
Successfully built lxml
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
pd.read_html("https://www.flipkart.com/")

ImportError: lxml not found, please install it

In [3]:
pd.read_html("https://www.flipkart.com/")

ImportError: html5lib not found, please install it

In [4]:
pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 957.4 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.9 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pd.read_html("https://www.flipkart.com/")

ValueError: No tables found

In [3]:
pd.read_html("https://www.amazon.in/")

[                                    0   1  \
 0  AbeBooks Books, art & collectibles NaN
 1                                 NaN NaN
 2     Shopbop Designer Fashion Brands NaN

                                                    2   3  \
 0  Amazon Web Services Scalable Cloud Computing S... NaN
 1                                                NaN NaN
 2       Amazon Business Everything For Your Business NaN

                                               4   5  \
 0                  Audible Download Audio Books NaN
 1                                           NaN NaN
 2  Prime Now  2-Hour Delivery on Everyday Items NaN

                                                    6   7  \
 0                       DPReview Digital Photography NaN
 1                                                NaN NaN
 2  Amazon Prime Music 100 million songs, ad-free ... NaN

                                8
 0  IMDb Movies, TV & Celebrities
 1                            NaN
 2                            NaN  ]