In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/ashu/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

i'm taking a variable named as df which means data frame

In [3]:
df = pd.read_csv("75_csv_file_for_pandas.csv")

In [4]:
df.head()

,id,firstname,lastname,email,email2,profession
0,100,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com,developer
1,101,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com,worker
2,102,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com,developer
3,103,Evaleen,Marden,Evaleen.Marden@yopmail.com,Evaleen.Marden@gmail.com,worker
4,104,Meg,Ferino,Meg.Ferino@yopmail.com,Meg.Ferino@gmail.com,worker

In [5]:
df.tail()

,id,firstname,lastname,email,email2,profession
995,1095,Benita,Kussell,Benita.Kussell@yopmail.com,Benita.Kussell@gmail.com,worker
996,1096,Carilyn,Serilda,Carilyn.Serilda@yopmail.com,Carilyn.Serilda@gmail.com,developer
997,1097,Fanchon,Hashim,Fanchon.Hashim@yopmail.com,Fanchon.Hashim@gmail.com,firefighter
998,1098,Hyacinthe,Naashom,Hyacinthe.Naashom@yopmail.com,Hyacinthe.Naashom@gmail.com,developer
999,1099,Trixi,Westphal,Trixi.Westphal@yopmail.com,Trixi.Westphal@gmail.com,worker

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes

id             int64
firstname     object
lastname      object
email         object
email2        object
profession    object
dtype: object

In [9]:
df.describe()

                id
count  1000.000000
mean    599.500000
std     288.819436
min     100.000000
25%     349.750000
50%     599.500000
75%     849.250000
max    1099.000000

In [33]:
df = pd.read_csv("75_csv_file_for_pandas.csv")

In [11]:
df.describe()

                id
count  1000.000000
mean    599.500000
std     288.819436
min     100.000000
25%     349.750000
50%     599.500000
75%     849.250000
max    1099.000000

In [12]:
df.dtypes

id             int64
firstname     object
lastname      object
email         object
email2        object
profession    object
dtype: object

In [13]:
df[['firstname', 'lastname','email','email2']]

,firstname,lastname,email,email2
0,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com
1,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com
2,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com
3,Evaleen,Marden,Evaleen.Marden@yopmail.com,Evaleen.Marden@gmail.com
4,Meg,Ferino,Meg.Ferino@yopmail.com,Meg.Ferino@gmail.com
...,...,...,...,...
995,Benita,Kussell,Benita.Kussell@yopmail.com,Benita.Kussell@gmail.com
996,Carilyn,Serilda,Carilyn.Serilda@yopmail.com,Carilyn.Serilda@gmail.com
997,Fanchon,Hashim,Fanchon.Hashim@yopmail.com,Fanchon.Hashim@gmail.com
998,Hyacinthe,Naashom,Hyacinthe.Naashom@yopmail.com,Hyacinthe.Naashom@gmail.com
999,Trixi,Westphal,Trixi.Westphal@yopmail.com,Trixi.Westphal@gmail.com

In [14]:
df.dtypes == 'object'

id            False
firstname      True
lastname       True
email          True
email2         True
profession     True
dtype: bool

In [16]:
df.dtypes[df.dtypes == 'object']

firstname     object
lastname      object
email         object
email2        object
profession    object
dtype: object

In [17]:
df.dtypes[df.dtypes == 'object'].index

Index(['firstname', 'lastname', 'email', 'email2', 'profession'], dtype='object')

In [19]:
type(df.dtypes[df.dtypes == 'object'])

pandas.core.series.Series

In [20]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,firstname,lastname,email,email2,profession
count,1000,1000,1000,1000,1000
unique,542,640,999,999,5
top,Charissa,Cynar,Jenda.Viddah@yopmail.com,Jenda.Viddah@gmail.com,firefighter
freq,6,5,2,2,213

In [23]:
df[['email','profession']][4:21:3]

                           email      profession
4         Meg.Ferino@yopmail.com          worker
7       Jackie.Tiffa@yopmail.com          doctor
10  Nataline.Sammons@yopmail.com          doctor
13      Gusella.Bord@yopmail.com  police officer
16     Kore.Brittani@yopmail.com     firefighter
19      Merrie.Zeeba@yopmail.com          worker

In [24]:
df['new_column'] = df['firstname'] + ' ' + df['lastname']

In [25]:
df

,id,firstname,lastname,email,email2,profession,new_column
0,100,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com,developer,Rani Cherianne
1,101,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com,worker,Flo Whiffen
2,102,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com,developer,Berta Vorster
3,103,Evaleen,Marden,Evaleen.Marden@yopmail.com,Evaleen.Marden@gmail.com,worker,Evaleen Marden
4,104,Meg,Ferino,Meg.Ferino@yopmail.com,Meg.Ferino@gmail.com,worker,Meg Ferino
...,...,...,...,...,...,...,...
995,1095,Benita,Kussell,Benita.Kussell@yopmail.com,Benita.Kussell@gmail.com,worker,Benita Kussell
996,1096,Carilyn,Serilda,Carilyn.Serilda@yopmail.com,Carilyn.Serilda@gmail.com,developer,Carilyn Serilda
997,1097,Fanchon,Hashim,Fanchon.Hashim@yopmail.com,Fanchon.Hashim@gmail.com,firefighter,Fanchon Hashim
998,1098,Hyacinthe,Naashom,Hyacinthe.Naashom@yopmail.com,Hyacinthe.Naashom@gmail.com,developer,Hyacinthe Naashom
999,1099,Trixi,Westphal,Trixi.Westphal@yopmail.com,Trixi.Westphal@gmail.com,worker,Trixi Westphal

In [27]:
df.head()

,id,firstname,lastname,email,email2,profession,new_column
0,100,Rani,Cherianne,Rani.Cherianne@yopmail.com,Rani.Cherianne@gmail.com,developer,Rani Cherianne
1,101,Flo,Whiffen,Flo.Whiffen@yopmail.com,Flo.Whiffen@gmail.com,worker,Flo Whiffen
2,102,Berta,Vorster,Berta.Vorster@yopmail.com,Berta.Vorster@gmail.com,developer,Berta Vorster
3,103,Evaleen,Marden,Evaleen.Marden@yopmail.com,Evaleen.Marden@gmail.com,worker,Evaleen Marden
4,104,Meg,Ferino,Meg.Ferino@yopmail.com,Meg.Ferino@gmail.com,worker,Meg Ferino

In [29]:
pd.Categorical(df['id'])

[100, 101, 102, 103, 104, ..., 1095, 1096, 1097, 1098, 1099]
Length: 1000
Categories (1000, int64): [100, 101, 102, 103, ..., 1096, 1097, 1098, 1099]

In [30]:
pd.Categorical(df['lastname'])

['Cherianne', 'Whiffen', 'Vorster', 'Marden', 'Ferino', ..., 'Kussell', 'Serilda', 'Hashim', 'Naashom', 'Westphal']
Length: 1000
Categories (640, object): ['Abernon', 'Abram', 'Ackerley', 'Adamsen', ..., 'Zina', 'Zola', 'Zrike', 'Zuzana']

In [35]:
df.iloc[0:2,['firstname','lastname']]

IndexError: .iloc requires numeric indexers, got ['firstname' 'lastname']

In [36]:
df.loc[0:2,['firstname','lastname']]

  firstname   lastname
0      Rani  Cherianne
1       Flo    Whiffen
2     Berta    Vorster

In [37]:
df.loc[2,['firstname','lastname']]

firstname      Berta
lastname     Vorster
Name: 2, dtype: object

In [38]:
df.iloc[2,[1,2]]

firstname      Berta
lastname     Vorster
Name: 2, dtype: object

# <span style="color:yellow">Pandas Concepts</span>

Pandas is a powerful library for data manipulation and analysis in Python. It provides high-performance, easy-to-use data structures and data analysis tools. Here are some key concepts of pandas:

## <span style="color:purple">Data Structures</span>
- <span style="color:blue">Series</span>: One-dimensional labeled array capable of holding any data type.
- <span style="color:blue">DataFrame</span>: Two-dimensional labeled data structure with columns of potentially different types.
- <span style="color:blue">Index</span>: Immutable array or ordered set of labels used for indexing and aligning data.

## <span style="color:purple">Data Manipulation</span>
- <span style="color:blue">Data Selection</span>: Extracting subsets of data using indexing, slicing, boolean indexing, or label-based selection.
- <span style="color:blue">Data Cleaning</span>: Handling missing data using methods like `dropna()`, `fillna()`, or `interpolate()`.
- <span style="color:blue">Data Transformation</span>: Applying operations like sorting, ranking, reshaping, merging, or pivoting on data.
- <span style="color:blue">Data Aggregation</span>: Computing summary statistics using methods like `groupby()`, `agg()`, or `pivot_table()`.
- <span style="color:blue">Data Alignment</span>: Aligning data based on index labels for arithmetic operations or joining data.
- <span style="color:blue">Data IO</span>: Reading and writing data from/to various file formats like CSV, Excel, SQL databases, etc.

## <span style="color:purple">Data Analysis</span>
- <span style="color:blue">Exploratory Data Analysis</span>: Understanding data through summarization, visualization, and statistical analysis.
- <span style="color:blue">Data Visualization</span>: Creating plots, charts, and graphs using built-in pandas plotting functions or libraries like Matplotlib or Seaborn.
- <span style="color:blue">Data Manipulation</span>: Performing complex data transformations using pandas methods and functions.
- <span style="color:blue">Data Filtering</span>: Applying conditions and filters to extract specific subsets of data.

## <span style="color:purple">Performance Optimization</span>
- <span style="color:blue">Vectorization</span>: Utilizing vectorized operations to perform computations efficiently on arrays of data.
- <span style="color:blue">Categorical Data</span>: Converting data into categorical type for better memory and performance optimization.
- <span style="color:blue">Method Chaining</span>: Applying a sequence of operations in a single line to optimize code readability and execution speed.

Pandas provides a vast array of functionality for data analysis and manipulation. Exploring the official pandas documentation and trying out examples in Jupyter Notebook will further enhance your understanding of these concepts.