In [3]:
import pandas as pd


data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)


df_reindexed = df.reindex([2, 1, 0])

print(df_reindexed)

   name  age
2   Bob   35
1  Jane   30
0  John   25

In [4]:
import pandas as pd


data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)


for index, row in df.iterrows():

    print(row['name'], row['age'])

John 25
Jane 30
Bob 35

In [5]:
import pandas as pd


data = {'name': ['John', 'Jane', 'Bob'], 'age': [25, 30, 35]}

df = pd.DataFrame(data)


df['name_upper'] = df['name'].str.upper()


print(df)

   name  age name_upper
0  John   25       JOHN
1  Jane   30       JANE
2   Bob   35        BOB

In [7]:
import pandas as pd


data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}

df = pd.DataFrame(data)


df_subset = df.loc[1:2, 'name']


type(df_subset)

pandas.core.series.Series

In [8]:
import pandas as pd


data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}

df = pd.DataFrame(data)


max_age = df['age'].max()


print(max_age)

40

In [9]:
import pandas as pd


data = {'date': ['2022-01-01', '2022-02-01',
                 '2022-03-01'], 'sales': [100, 200, 300]}

df = pd.DataFrame(data)


df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.month


print(df)

        date  sales  month
0 2022-01-01    100      1
1 2022-02-01    200      2
2 2022-03-01    300      3