Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]

In [2]:
type(a)

list

In [4]:
a.append("mango")

In [5]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [7]:
a.append("banana")

In [8]:
a.append("grape")

In [9]:
a.append("orange")

In [10]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grape', 'orange']

In [11]:
a[5] = "apple"

In [12]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', 'banana', 'grape', 'orange']

***
Q2.  
L = [1,2,3,4,5,6,7]  
Using the above list slice from 1:4

In [13]:
L = [1,2,3,4,5,6,7]
a = L[1:4]

In [14]:
a

[2, 3, 4]

***
Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [18]:
l = [4,5,6,8,3]
a = l[::-1]
print(a)

[3, 8, 6, 5, 4]

In [20]:
l = [4,5,6,8,3]
l.reverse()
print(l)

[3, 8, 6, 5, 4]

***
Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [23]:
l = [2,4,7,3,6,8]
sq = [i ** 2 for i in l]
print(sq)

[4, 16, 49, 9, 36, 64]

In [22]:
l = [2,4,7,3,6,8]
for i in l:
    print (i ** 2)

4
16
49
9
36
64

***
Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [24]:
def sum_ok(a):
    ans = 0
    for i in a:
        ans += i
    return ans

a = (2,3,4,4,5,5,6,6,7)
print(sum_ok(a))

42

In [25]:
def sum_ok(a):
    return sum(a)

a = (2, 3, 4, 4, 5, 5, 6, 6, 7)
print(sum_ok(a))

42

***
Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [27]:
fruits1 = {"apple", "banana"}
fruits2 = {"grapes", "lichi"}

union_of_fruits = fruits1.union(fruits2)

print(union_of_fruits)

{'lichi', 'banana', 'apple', 'grapes'}

***
Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [28]:
words_set = {"iphone","macbook","airpods","macstudio"}

In [29]:
words_set

{'airpods', 'iphone', 'macbook', 'macstudio'}

In [30]:
words_set.add("vision pro")

In [31]:
words_set

{'airpods', 'iphone', 'macbook', 'macstudio', 'vision pro'}

***
Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [33]:
fav_animals = {"turtles" , "budgies" , "my_brother"}

In [34]:
fav_animals

{'budgies', 'my_brother', 'turtles'}

In [35]:
fav_animals.remove('my_brother')

In [36]:
fav_animals

{'budgies', 'turtles'}

***
Q9. 
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}  
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]  
Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.

In [38]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption",
                   "The Godfather", "The Dark Knight"]
zipped = favorite_books.union(favorite_movies)

In [40]:
list(zipped)

['Pride and Prejudice',
 'The Godfather',
 'The Shawshank Redemption',
 '1984',
 'The Dark Knight',
 'To Kill a Mockingbird']

In [41]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption",
                   "The Godfather", "The Dark Knight"]
zipped = list(zip(favorite_books, favorite_movies))
print(zipped)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

***
Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [46]:
def differ(k):
    diff = []
    for i in range(1,len(k)):
        antar = k[i] - k[i-1]
        diff.append(antar)
    return diff

l = [10,8,5,1]  
print(differ(l))

[-2, -3, -4]